{% extends 'base.html' %}
{%  block content %}
<div class="container">
    <div class="outer-box">
        {% if messages %}
            {% for message in messages %}
              <h1>{{message}}</h1>
            {% endfor %}
        {% endif %}
        <form action="" class="flex" method="POST">
            {% csrf_token %}
     
            <p class="field-box flex">
                <label for="">Username</label>
                <input type="text" name="username" required>
            </p>
        
            <p class="field-box flex">
                <label for="">Password</label>
                <input type="password" name="password" required>
            </p>
        
     
            <button type="submit" class="submit-btn">Submit</button>
          
        </form>
    </div>
</div>
{% endblock content %}