{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{%  block content %}
<div class="container">
    <div class="outer-box">

        <form action="" class="flex" method="POST">
            {% csrf_token %}
     
            <p class="field-box flex">
                <label for="">Username</label>
                <input type="text" name="username" required>
            </p>
        
            <p class="field-box flex">
                <label for="">Password</label>
                <input type="password" name="password" required>
            </p>
        
     
            <button type="submit" class="submit-btn">Submit</button>
            <p>Don't have a account <a href="{% url 'signup' %}">Signup</a></p>
          
        </form>
    </div>
</div>
{% endblock content %}